.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: auto;
}
.carousel-inner {
	display: flex;
	transition: transform .5s ease;
}
.carousel-item {
	min-width: 100%;
	box-sizing: border-box;
	text-align: center; 
	margin: auto;
}
.carousel-item img {
	max-width: 100%;
	height: auto;
}
.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.3);
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 1.5em;
}
.carousel-button.left {
	left: 0;
	padding: .8em .8em .8em .2em;
}
.carousel-button.right {
	right: 0;
	padding: .8em .2em .8em .8em;
}